<div class="flex flex-col items-center justify-center w-full text-[#F2E6EA] bg-[#1A1617]">
    <div class="pt-1"></div>
    <div
        class="flex flex-row items-center justify-center text-xs py-5 m-10 space-mono-regular border border-[#F2E6EA] w-3/5 index2 bg-[#1A1617]">
        <div class="text-right pr-2">
            <p class="py-1">Java </p>
            <p class="py-1 text-[#CC527A]">Spring Boot</p>
            <p class="py-1">Angular</p>
            <p class="py-1 text-[#CC527A]">Typescript</p>
            <p class="py-1">Python</p>
            <p class="py-1 text-[#CC527A]">Django</p>
            <p class="py-1">Vue.js</p>
            <p class="py-1 text-[#CC527A]">SQL</p>
            <p class="py-1 ">Git</p>
            <p class="py-1 text-[#CC527A]">C#</p>
            <p class="py-1">.Net</p>
            <p class="py-1 text-[#CC527A]">Docker</p>
            <p class="py-1">C++</p>
        </div>
        <div class="text-left pl-2">
            <p class="py-1">/////-----</p>
            <p class="py-1 text-[#CC527A]">///-------</p>
            <p class="py-1">///-------</p>
            <p class="py-1 text-[#CC527A]">///-------</p>
            <p class="py-1">///-------</p>
            <p class="py-1 text-[#CC527A]">///-------</p>
            <p class="py-1">///-------</p>
            <p class="py-1 text-[#CC527A]">///-------</p>
            <p class="py-1">///-------</p>
            <p class="py-1 text-[#CC527A]">///-------</p>
            <p class="py-1">//--------</p>
            <p class="py-1 text-[#CC527A]">//--------</p>
            <p class="py-1">/---------</p>
        </div>
    </div>
    <div class="pb-1"></div>
</div>