<div class="flex flex-col items-center justify-center text-[#F2E6EA] bg-[#1A1617] h-screen">
    <div class="pt-10"></div>
    <div class="flex w-4/5 justify-end" *ngFor="let index of indexSquaresRight">
        <div class="w-[50px] h-[50px]" *ngFor="let color of squaresRight[index]" [style.background-color]="color"></div>
    </div>
    <div class="text-center text-2xl py-10" style="font-family: SpaceMono-Regular">
        <div class="flex flex-row items-center justify-center">
            <p>Hola, soy&nbsp;</p>
            <p class="text-[#CC527A]" style="font-family: SpaceMono-Bold">Ernesto Zazueta</p>
            <p>.</p>
        </div>
        <p>Soy un desarrollador back-end jr.</p>
    </div>
    <div class="flex w-4/5 justify-start" *ngFor="let index of indexSquaresLeft">
        <div class="w-[50px] h-[50px]" *ngFor="let color of squaresLeft[index]" [style.background-color]="color"></div>
    </div>
    <div class="pb-10"></div>
    <p class="falling" *ngFor="let index of indexFalling" [style.color]="indexColor[index]"> {{ indexShape[index] == 0 ? "N" : "🜲" }}</p>
</div>