<div class="flex flex-col items-center justify-center w-full text-[#F2E6EA] bg-[#1A1617]">
    <div class="pt-1"></div>
    <div
        class="flex flex-row items-center justify-center text-xs py-5 m-10 space-mono-regular border border-[#F2E6EA] w-11/12 index2 bg-[#1A1617]">
        <div class="text-left pr-2 mx-3">
            <p class="">{{textItesca[0]}}</p>
            <p class="text-right text-[8px] text-[#CC527A]">{{textItesca[1]}}</p>
            <p class="mt-3">{{textItesca[2]}}</p>
            <ul class="list-disc pl-4 pt-3">
                <li>{{textItesca[3]}}<span
                        class='text-[#CC527A] space-mono-bold'>{{textItesca[4]}}</span>{{textItesca[5]}}<span
                        class='text-[#CC527A] space-mono-bold'>{{textItesca[6]}}</span></li>
                <li>{{textItesca[7]}}<span
                        class='text-[#CC527A] space-mono-bold'>{{textItesca[8]}}</span>{{textItesca[9]}}</li>
                <li>{{textItesca[10]}}<span
                        class='text-[#CC527A] space-mono-bold'>{{textItesca[11]}}</span>{{textItesca[12]}}<span
                        class='text-[#CC527A] space-mono-bold'>{{textItesca[13]}}</span>{{textItesca[14]}}</li>
                <li>{{textItesca[15]}}<span class='text-[#CC527A] space-mono-bold'>{{textItesca[16]}}</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="flex flex-col items-center justify-center w-full text-[#F2E6EA] bg-[#1A1617]">
    <div class="pt-1"></div>
    <div
        class="flex flex-row items-center justify-center text-xs py-5 m-10 space-mono-regular border border-[#F2E6EA] w-11/12 index2 bg-[#1A1617]">
        <div class="text-left pr-2 mx-3">
            <p class="">{{textClever[0]}}</p>
            <p class="text-right text-[8px] text-[#CC527A]">{{textClever[1]}}</p>
            <p class="mt-3">{{textClever[2]}}</p>
            <ul class="list-disc pl-4 pt-3">
                <li>{{textClever[3]}}<span
                        class='text-[#CC527A] space-mono-bold'>{{textClever[4]}}</span>{{textClever[5]}}</li>
                <li>{{textClever[6]}}<span
                        class='text-[#CC527A] space-mono-bold'>{{textClever[7]}}</span>{{textClever[8]}}<span
                        class='text-[#CC527A] space-mono-bold'>{{textClever[9]}}</span>{{textClever[10]}}<span
                        class='text-[#CC527A] space-mono-bold'>{{textClever[11]}}</span></li>
                <li>{{textClever[12]}}<span
                        class='text-[#CC527A] space-mono-bold'>{{textClever[13]}}</span>{{textClever[14]}}<span
                        class='text-[#CC527A] space-mono-bold'>{{textClever[15]}}</span>{{textClever[16]}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="flex flex-col items-center justify-center w-full text-[#F2E6EA] bg-[#1A1617]">
    <div class="pt-1"></div>
    <div
        class="flex flex-row items-center justify-center text-xs py-5 m-10 space-mono-regular border border-[#F2E6EA] w-11/12 index2 bg-[#1A1617]">
        <div class="text-left pr-2 mx-3">
            <p class="">{{textZith[0]}}</p>
            <p class="text-right text-[8px] text-[#CC527A]">{{textZith[1]}}</p>
            <p class="mt-3">{{textZith[2]}}</p>
            <ul class="list-disc pl-4 pt-3">
                <li>{{textZith[3]}}<span
                        class='text-[#CC527A] space-mono-bold'>{{textZith[4]}}</span>{{textZith[5]}}<span
                        class='text-[#CC527A] space-mono-bold'>{{textZith[6]}}</span>{{textZith[7]}}</li>
                <li>{{textZith[8]}}<span
                        class='text-[#CC527A] space-mono-bold'>{{textZith[9]}}</span>{{textZith[10]}}<span
                        class='text-[#CC527A] space-mono-bold'>{{textZith[11]}}</span>{{textZith[12]}}<span
                        class='text-[#CC527A] space-mono-bold'>{{textZith[13]}}</span>{{textZith[14]}}</li>
                <li>{{textZith[15]}}<span
                        class='text-[#CC527A] space-mono-bold'>{{textZith[16]}}</span>{{textZith[17]}}<span
                        class='text-[#CC527A] space-mono-bold'>{{textZith[18]}}</span></li>
                <li>{{textZith[19]}}<span class='text-[#CC527A] space-mono-bold'>{{textZith[20]}}</span>{{textZith[21]}}
                </li>
            </ul>
        </div>
    </div>
</div>