<app-introduction />
<app-title [title]="['Experiencia.','Experience.']" [titleColor]="'decoration-[#1A1617]'"></app-title>
<app-experience />
<app-title [title]="['Habilidades.','Skills.']" [titleColor]="'decoration-[#1A1617]'"></app-title>
<app-skills />
<app-title [title]="['Spring Boot.']" [titleColor]="'decoration-[#6db33f]'"></app-title>
<app-title [title]="['Django.']" [titleColor]="'decoration-[#092e1f]'"></app-title>
<app-title [title]="['Angular.']" [titleColor]="'decoration-[#dd0031]'"></app-title>
<app-title [title]="['Vue.js.']" [titleColor]="'decoration-[#41b883]'"></app-title>