@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SpaceMono-Regular';
    src: url('./assets/fonts/spaceMono/SpaceMono-Regular.ttf');
}

@font-face {
    font-family: 'SpaceMono-Bold';
    src: url('./assets/fonts/spaceMono/SpaceMono-Bold.ttf');
}

.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
  }
  

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #4d4949;
}

::-webkit-scrollbar-thumb {
    background: #332e2e;
}

::-webkit-scrollbar-thumb:hover {
    background: #1a1617;
}